@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #27272a; /* zinc-800 */
  background-color: #f4f4f5; /* zinc-100 */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .scrollbar-pro {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.15) transparent;
  }

  .scrollbar-pro::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-pro::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-pro::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      rgba(255,255,255,0.08),
      rgba(255,255,255,0.25)
    );
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  .scrollbar-pro::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.4);
  }

  /* Không hover thì gần như ẩn */
  .scrollbar-pro:not(:hover)::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.06);
  }
}

